<div class="container">
  <%- include('./forms/form-tarefas') %>
  <form id="FormTarefas" method="POST" action="/admin/tarefas/alterar?_method=PUT">
    <div id="div-btn">
      <button class="btn-new" id="btnNovaTarefa" type="button" data-toggle="modal" data-target="#criarTarefa" data-whatever="@mdo" title="Nova Tarefa">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
      </button>
    </div>
    <table class="table-responsive" id="tarefas">
      <thead>
        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th>Marcar como concluida</th>
        </tr>
      </thead>
      <tbody id="tarefasContent">
        <% tarefas.forEach(tarefa => { %>
          <tr id="<%= tarefa.id %>">
            <td class="">
              <%= tarefa.data.getDate() < 10 ? "0" + tarefa.data.getDate() : tarefa.data.getDate() %>/<%= tarefa.data.getMonth() < 10 ? "0" + (tarefa.data.getMonth() + 1) : tarefa.data.getMonth() + 1 %>/
              <%= tarefa.data.getFullYear() %></td>
            <td class=""><%= tarefa.descricao %></td>
            <td class="center">
              <input class="checkbox" type="checkbox" name="<%= tarefa.id %>">
            </td>
          </tr> 
        <% }) %>
      </tbody>
    </table>
    <button id="btn-tarefas" type="submit" class="botao botao-enviar">Salvar alterações</button>
  </form>
</div>

