<div class="container">
  <form id="tarefas" action="/admin/tarefas/guardar" method="POST">
    <table class="table-responsive table-hover" id="tarefas">
      <thead>
        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th>Marcar como concluida</th>
        </tr>
      </thead>
      <tbody>
        <% tarefas.forEach(tarefa => { %>
          <tr>
            <td class="data">
              <%= tarefa.data.getDate() %>/<%= tarefa.data.getMonth() + 1 %>/
              <%= tarefa.data.getFullYear() %></td>
            <td class="descricao"><%= tarefa.descricao %></td>
            <td class="center">
              <input type="checkbox" name="<%= tarefa.id %>">
            </td>
          </tr> 
        <% }) %>               
      </tbody>
    </table>
    <div id="div-btn">
      <button id="btn-tarefas" type="submit" class="botao botao-enviar">Salvar alterações</button>
    </div>
    
  </form>
</div>

