<!DOCTYPE html>
<html>
  <head>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Disciplinas</title>
  </head>
  <body>

    <!-- barra de navegação -->
    <%- include('./partialMenu', {professor}) %>
    <div class="container">
        <div class="page-header">
            <h3>Essas são as disciplinas que você leciona</h3>
        </div>
        <table class="table table-responsive-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Série</th>
                    <th scope="col">Nível</th>
                    <th scope="col">Turno</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% turmas.forEach(turma => { %>
                    <% turma = turma.dataValues %>
                    <tr>
                        <th scope="row"><%= turma.turma_id %></th>
                        <td><%= turma.serie %></td>
                        <td><%= turma.nivel %></td>
                        <td><%= turma.turno %></td>
                        <td>
                            <a class="btn btn-light btn-sm" href="/professor/turmas/:turma_id"> <strong> Detalhes </strong></a>
                            <a class="btn btn-secondary btn-sm" href="/professor/formularioAula"> <strong> Aula </strong></a>
                            <a class="btn btn-info btn-sm" href="/professor/formularioAvaliacao"><strong> Avaliação </strong></a>
                            <a class="btn btn-success btn-sm" href="/professor/registroNota"><strong> Notas </strong></a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    
</body>
</html>
